// pagina principal
html
  body
    // formulario que hace un POST a "/"
    // cuando apretamos el boton submit
    form(action="/", method="post")
      input(type="submit", value="consultar")
      
    
    
    
