html
  body
    p el celular consultado es:
    // defino una variable llamada
    // "resConsulta" la cual usaremos
    // para escribir el respultado de 
    // la consulta SQL en el siguiente "<p>" xD
    p= resConsulta
    p
      a(href="/") volver
